body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background-image: url(istockphoto-1156837650-612x612.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.main-title {
    background-color: rgba(153, 13, 13, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 25px 1px 25px;
}

.subtitle {
    background-color: rgba(153, 13, 13, 0.8);;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 25px 1px 25px;
}

p {
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Abel', sans-serif;
    background-color: rgba(155, 98, 98, 0.7);
    margin: 10px 25px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(153, 13, 13, 0.8);
    margin: 0 25px;
}

ol {
    margin: 0 0 0 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(143, 75, 75, 0.7);
    color: white;
    font-family: 'Abel', sans-serif;
    margin: 10px 25px;
}

b {
    font-weight: bold;
}
